body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

#game button {
    font-size: 7rem;
    margin-bottom: 10px;
    border-radius: 100px;
    background-color: hsl(120, 100%, 25%);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

#game button:hover {
    background-color: hsl(120, 100%, 50%);
}

#playerchoice, #computerchoice{
    font-size: 3rem;
}


#result{
    font-size: 3rem;
}

#result1{
    font-size: 5rem;
}

.greentext{
    color: hsl(120, 100%, 25%);
}

.redtext{
    color: hsl(0, 100%, 50%);
}